div{
    background-color: wheat;
    padding: 10px;
    float: left;
    width: 120px;
    margin: 0 4px 4px 0;
}

div h2{
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
}

.head{
	display: flex;
}

.head h1{
	margin-left: 16px;
}

.head img {
	margin-left: 16px;
}


